@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700&subset=latin-ext");
@keyframes wave {
  0% {
    background-position: 0; }
  100% {
    background-position: 1360px; } }
* {
  box-sizing: border-box; }

html {
  font-size: calc(0.6em + 0.7vw);
  font-family: 'Open Sans', sans-serif; }

body {
  margin: 0;
  padding: 0; }

h1 {
  font-size: 2em; }

h3 {
  margin: 2em auto 1.5em;
  font-weight: normal;
  color: #232323;
  text-align: center; }

.container {
  max-width: 1200px;
  margin: 1em auto;
  padding: .5em; }

.section-title {
  margin: 1.5em auto;
  font-size: 2em;
  text-align: center;
  text-transform: uppercase;
  color: #232323; }
  .section-title::before, .section-title::after {
    content: "\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0";
    text-decoration: line-through;
    padding: 0 20px; }

.highlight {
  color: #dc143c; }

#hero {
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden; }
  #hero .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff; }
  #hero .button {
    margin: 20px 20%;
    padding: 10px;
    border: 2px solid #fff;
    border-radius: 10px;
    color: #fff;
    text-decoration: none;
    transition: .2s linear; }
    #hero .button:hover {
      cursor: pointer;
      background-color: #dc143c;
      border-color: #dc143c; }

#nav {
  background-color: #232323;
  z-index: 100; }
  #nav .list {
    display: flex;
    flex-flow: row nowrap;
    justify-content: left;
    margin: 0 auto;
    padding: 0;
    height: 60px;
    max-width: 1200px; }
  #nav .item {
    padding: 10px 20px;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff; }
    #nav .item:hover {
      color: #dc143c;
      cursor: pointer; }

.stick {
  position: fixed;
  top: 0;
  width: 100%; }
  .stick + section {
    padding-top: 60px; }

#about {
  text-align: center; }
  #about .features {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly; }
    #about .features .feature {
      margin: 20px; }
    #about .features i {
      display: block;
      margin: 20px auto;
      width: 6em;
      height: 6em;
      line-height: 6em;
      max-width: 200px;
      max-height: 200px;
      color: #fff;
      background-color: #4169e1;
      border-radius: 50%; }
      #about .features i:before {
        font-size: 3em; }
  #about .technologies {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding: 20px 0; }
  #about .technology {
    position: relative;
    height: 5em;
    width: 5em;
    line-height: 5em;
    margin: 5px;
    text-align: center; }
    #about .technology img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      max-width: 100%;
      height: auto;
      max-height: 5em;
      opacity: .5; }
      #about .technology img:hover {
        opacity: 1; }

#projects {
  position: relative;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: 3em auto 1em;
  padding: .5em .5em 250px;
  color: #fff;
  background-color: #4169e1; }
  #projects .section-title {
    width: 100%;
    color: #fff; }
  #projects .project {
    position: relative;
    height: 300px;
    width: auto;
    background-color: #232323; }
    #projects .project:hover .image {
      opacity: .1; }
    #projects .project:hover .description {
      opacity: 1; }
    #projects .project .image {
      display: block;
      width: auto;
      height: 100%;
      transition: .2s linear; }
    #projects .project .description {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      padding: 10px;
      text-align: center;
      opacity: 0;
      transition: .2s linear; }
    #projects .project .title {
      margin: 10px 0;
      text-transform: uppercase;
      color: #fff;
      font-weight: bold; }
    #projects .project .button {
      display: block;
      max-width: 60%;
      margin: 10px auto;
      padding: 5px;
      border: 1px solid #fff;
      border-radius: 10px;
      color: #fff;
      text-decoration: none;
      transition: .2s linear; }
      #projects .project .button:hover {
        cursor: pointer;
        background-color: #dc143c;
        border-color: #dc143c; }
  #projects .wave {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 143px;
    width: 100%;
    background-image: url(./pictures/wave.png);
    animation: wave 10s linear infinite; }
    #projects .wave::before {
      position: absolute;
      bottom: 0;
      left: 0;
      height: 143px;
      width: 100%;
      background-image: url(./pictures/wave.png);
      content: "";
      animation: wave 12s linear infinite reverse;
      opacity: 0.6; }
    #projects .wave::after {
      position: absolute;
      bottom: 0;
      left: 0;
      height: 143px;
      width: 100%;
      background-image: url(./pictures/wave.png);
      content: "";
      animation: wave 15s linear infinite;
      animation-delay: -3s;
      opacity: 0.4; }

#contact {
  text-align: center; }
  #contact p {
    margin: 1.5em 0;
    font-weight: bold; }
  #contact div {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    height: 5em;
    max-width: 600px;
    margin: 1em auto; }
  #contact a {
    position: relative;
    display: block;
    height: 3em;
    width: 3em;
    color: #232323;
    transform: rotate(-30deg) skew(25deg); }
    #contact a:hover span:nth-child(5) {
      transform: translate(40px, -40px);
      color: #fff;
      border-color: #dc143c;
      opacity: 1; }
    #contact a:hover span:nth-child(4) {
      transform: translate(30px, -30px);
      border-color: #dc143c;
      opacity: .8; }
    #contact a:hover span:nth-child(3) {
      transform: translate(20px, -20px);
      border-color: #dc143c;
      opacity: .6; }
    #contact a:hover span:nth-child(2) {
      transform: translate(10px, -10px);
      border-color: #dc143c;
      opacity: .4; }
    #contact a:hover span:nth-child(1) {
      border-color: #dc143c;
      opacity: .2; }
  #contact span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #dc143c;
    border: 1px solid #232323;
    transition: .2s ease-in; }
  #contact i::before {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2em; }

.footer {
  margin: 3em 0 .5em; }

/*# sourceMappingURL=styles.css.map */
