// External imports
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&subset=latin-ext');

// Variables
$color-primary: #fff;
$color-secondary: #232323;
$color-highlight: #dc143c;
$color-picture: #4169e1;

// RWD
$extra-small-width: 380px;
$small-width: 460px;
$medium-width: 900px;

@mixin extra-small {
	@media (max-width: #{$extra-small-width - 1px}) {
		@content;
	}
}

@mixin small {
	@media (max-width: #{$small-width - 1px}) {
		@content;
	}
}

@mixin medium {
	@media (max-width: #{$medium-width - 1px}) {
		@content;
	}
}

@mixin no-hover {
	@media (hover: none) {
		@content;
	}
}

// Mixins
@mixin position-lt ($horizontal, $vertical) {
    position: absolute;
    top: $vertical;
    left: $horizontal;
    -webkit-transform: translate(-$horizontal, -$vertical);
            transform: translate(-$horizontal, -$vertical);
}

@mixin wave {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 143px;
    width: 100%;
    background-image: url(./pictures/wave.png);
}

// Animations
@-webkit-keyframes wave {
    0% {
        background-position: 0;
    }
    100% {
        background-position: 1360px;
    }
}
@keyframes wave {
    0% {
        background-position: 0;
    }
    100% {
        background-position: 1360px;
    }
}

@-webkit-keyframes show {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes show {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

// Global styles
* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

html {
    font-size: calc(0.6em + 0.7vw);
    font-family: 'Open Sans', sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 2em;
}

h3 {
    margin: 2em auto 1.5em;
    font-weight: normal;
    color: $color-secondary;
    text-align: center;
}

.container {
    max-width: 1200px;
    margin: 1em auto;
    padding: .5em 1em;
}

.section-title {
    margin: 1.5em auto;
    font-size: 2em;
    text-align: center;
    text-transform: uppercase;
    color: $color-secondary;

    &::before,
    &::after {
        content: '\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0';
        text-decoration: line-through;
        padding: 0 20px;
        @include extra-small() {
            content: '\00a0\00a0\00a0\00a0';
        }
    }
}

.highlight {
    color: $color-highlight;
}

.hidden {
    opacity: 0;
}

.show {
    -webkit-animation: show .7s linear;
            animation: show .7s linear;
    -webkit-animation-fill-mode: backwards;
            animation-fill-mode: backwards;
}

.no-xs {
    @include extra-small() {
        display: none;
    }
}

// Hero
#hero {
    position: relative;
    height: 100vh;
    width: 100%;
    overflow: hidden;

    canvas {
        position: absolute;
        background-image: radial-gradient(circle, $color-secondary 0, #909090 30%, $color-highlight 50%);
    }

    .content {
        @include position-lt(50%, 50%);
        width: 90vw;
        text-align: center;
        color: $color-primary;

        .cut {
            @include extra-small() {
                display: table;
                margin: 0 auto;
            }
        }
    }

    .button {
        margin: 20px 10%;
        padding: 10px;
        border: 2px solid $color-primary;
        border-radius: 10px;
        color: $color-primary;
        text-decoration: none;
        -webkit-transition: .2s linear;
        transition: .2s linear;

        &:hover {
            cursor: pointer;
            background-color: $color-highlight;
            border-color: $color-highlight;
        }
    }
}

// Navbar
#nav {
    background-color: $color-secondary;
    z-index: 100;

    .menu {
        display: none;
        @include extra-small() {
            display: block;
            width: 100%;
            padding: 1em;
            text-align: right;
            background-color: $color-secondary;
        }

        i {
            display: block;

            &::before {
                font-size: 50px;
                color: $color-primary;
            }
        }
    }

    .list {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-flow: row nowrap;
                flex-flow: row nowrap;
        -webkit-box-pack: left;
            -ms-flex-pack: left;
                justify-content: left;
        margin: 0 auto;
        padding: 0;
        height: 60px;
        max-width: 1200px;
        @include extra-small() {
            display: none;
            text-align: center;
            height: 200px;
        }
    }

    .on {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-flow: column nowrap;
                flex-flow: column nowrap;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }

    .item {
        display: block;
        padding: 10px 20px;
        text-decoration: none;
        text-transform: uppercase;
        color: $color-primary;
        @include extra-small() {
            font-size: 2em;
        }

        &:hover {
            color: $color-highlight;
            cursor: pointer;
        }
    }

    .progress-bar {
        height: 3px;
        background-color: $color-highlight;
        width: 1%;
    }
}

.stick {
    position: fixed;
    top: 0;
    width: 100%;

    & + section {
        padding-top: 60px;
    }
}

// Section: About
#about {
    text-align: center;

    .features {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-flow: row wrap;
                flex-flow: row wrap;
        -webkit-box-pack: space-around;
            -ms-flex-pack: space-around;
                justify-content: space-around;

        .feature {
            margin: 20px;
        }

        i {
            display: block;
            margin: 20px auto;
            width: 6em;
            height: 6em;
            line-height: 6em;
            max-width: 200px;
            max-height: 200px;
            color: $color-primary;
            background-color: $color-picture;
            border-radius: 50%;

            &:before {
                font-size: 3em;
            }
        }
    }

    .technologies {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-flow: row wrap;
                flex-flow: row wrap;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        padding: 20px 0;
    }

    .technology {
        position: relative;
        height: 5em;
        width: 5em;
        line-height: 5em;
        margin: 5px;
        text-align: center;

        img {
            @include position-lt(50%, 50%);
            max-width: 100%;
            height: auto;
            max-height: 5em;
            opacity: .5;

            &:hover {
                opacity: 1;
            }
        }
    }
}

// Section: Projects
#projects {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 3em auto 0;
    padding: .5em .5em 1em;
    color: $color-primary;
    background-color: $color-picture;

    .section-title {
        width: 100%;
        color: $color-primary;
    }

    .project {
        position: relative;
        width: auto;
        background-color: $color-secondary;
        @include no-hover() {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-flow: column nowrap;
                    flex-flow: column nowrap;
            -webkit-box-pack: center;
                -ms-flex-pack: center;
                    justify-content: center;
        }
        @include medium {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-flow: column nowrap;
                    flex-flow: column nowrap;
            -webkit-box-pack: center;
                -ms-flex-pack: center;
                    justify-content: center;
        }

        &:hover .image {
            opacity: .1;
        }

        &:hover .description {
            opacity: 1;
        }

        .image {
            display: block;
            width: auto;
            height: 300px;
            -webkit-transition: .2s linear;
            transition: .2s linear;
            @include no-hover() {
                position: static;
            }
            @include medium() {
                position: static;
                height: 200px;
            }
            @include small() {
                height: 150px;
            }
            @include extra-small() {
                height: 100px;
            }
        }

        .description {
            @include position-lt(50%, 50%);
            width: 100%;
            padding: 10px;
            text-align: center;
            opacity: 0;
            -webkit-transition: .2s linear;
            transition: .2s linear;
            @include no-hover() {
                -webkit-transform: none;
                        transform: none;
                position: static;
                opacity: 1;
            }
            @include medium {
                -webkit-transform: none;
                        transform: none;
                position: static;
                opacity: 1;
            }
        }

        .title {
            margin: 10px 0;
            text-transform: uppercase;
            color: $color-primary;
            font-weight: bold;
        }

        .button {
            display: block;
            max-width: 60%;
            margin: 10px auto;
            padding: 5px;
            border: 1px solid $color-primary;
            border-radius: 10px;
            color: $color-primary;
            text-decoration: none;
            -webkit-transition: .2s linear;
            transition: .2s linear;
    
            &:hover {
                cursor: pointer;
                background-color: $color-highlight;
                border-color: $color-highlight;
            }
        }
    }
}

// Wave animation
.wave-wrapper {
    position: relative;
    background-color: $color-picture;
    width: 100%;
    height: 250px;

    .wave {
        @include wave();
        -webkit-animation: wave 10s linear infinite;
                animation: wave 10s linear infinite;

        &::before {
            @include wave();
            content: "";
            animation: wave 12s linear infinite reverse;
            opacity: 0.6;
        }

        &::after {
            @include wave();
            content: "";
            -webkit-animation: wave 15s linear infinite;
                    animation: wave 15s linear infinite;
            -webkit-animation-delay: -3s;
                    animation-delay: -3s;
            opacity: 0.4;
        }
    }
}

// Section: Contact
#contact {
    text-align: center;

    p {
        margin: 1.5em 0;
        font-weight: bold;
    }

    div {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-flow: row nowrap;
                flex-flow: row nowrap;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        height: 5em;
        max-width: 600px;
        margin: 1em auto;
        padding-right: 3em;
    }

    a {
        position: relative;
        display: block;
        height: 3em;
        width: 3em;
        color: $color-primary;
        -webkit-transform: rotate(-30deg) skew(25deg);
                transform: rotate(-30deg) skew(25deg);

        &:hover span:nth-child(5) {
            -webkit-transform: translate(40px, -40px);
                    transform: translate(40px, -40px);
            color: $color-secondary;
            border-color: $color-highlight;
            opacity: 1;
        }

        &:hover span:nth-child(4) {
            -webkit-transform: translate(30px, -30px);
                    transform: translate(30px, -30px);
            border-color: $color-highlight;
            opacity: .8;
        }

        &:hover span:nth-child(3) {
            -webkit-transform: translate(20px, -20px);
                    transform: translate(20px, -20px);
            border-color: $color-highlight;
            opacity: .6;
        }

        &:hover span:nth-child(2) {
            -webkit-transform: translate(10px, -10px);
                    transform: translate(10px, -10px);
            border-color: $color-highlight;
            opacity: .4;
        }

        &:hover span:nth-child(1) {
            border-color: $color-highlight;
            opacity: .2;
        }
    }

    span {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $color-highlight;
        border: 1px solid $color-secondary;
        -webkit-transition: .2s ease-in;
        transition: .2s ease-in;
    }

    i::before {
        @include position-lt(50%, 50%);
        font-size: 2em;
    }
}

// Footer
.footer {
    margin: 3em 0 .5em;
}